# LIGHTGBM

- é uma biblioteca de aprendizado de máquina de código aberto que implementa algoritmos de gradient boosting.
- O LightGBM implementa o algoritmo de gradient boosting, que é uma técnica de aprendizado de máquina que combina múltiplos modelos simples para criar um modelo mais complexo e preciso.
- O LightGBM usa árvores de decisão como modelos base para o gradient boosting.
- O LightGBM oferece uma variedade de parâmetros que podem ser ajustados para otimizar o desempenho do modelo.
- é projetado para lidar com grandes conjuntos de dados e pode ser usado em ambientes de produção.

In [37]:
! pip install openpyxl -q

In [38]:
import lightgbm as lgb
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

df = pd.read_excel('dados.xlsx')

In [39]:
df.head()

,MODELO,KM-LITRO,CILINDROS,PESO(KG),CAVALOS,TRANSMISSAO,PAIS
0,LABORGUINI,3.0,12,1200,700,AUTOMATICO,BRASIL
1,LABORGUINI,3.0,12,1200,700,AUTOMATICO,EUA
2,LABORGUINI,3.0,12,1200,700,AUTOMATICO,ESPANHA
3,FERRARI,3.0,12,1400,640,AUTOMATICO,CANADA
4,ASTON MARTIN,3.5,10,1600,620,AUTOMATICO,INGLATERRA

In [40]:
df.describe()

         KM-LITRO   CILINDROS     PESO(KG)      CAVALOS
count  984.000000  986.000000   986.000000   986.000000
mean     8.209553    6.115619  1959.432049   262.622718
std      3.718411    2.764683   459.769620   209.544669
min      3.000000    3.000000  1200.000000   116.000000
25%      4.500000    4.000000  1700.000000   118.000000
50%      8.000000    4.000000  1700.000000   118.000000
75%     11.000000    8.000000  2300.000000   340.000000
max     14.000000   12.000000  3000.000000  1800.000000

In [41]:
df.shape

(986, 7)

In [42]:
data = {
    "MODELO": ["LABORGUINI", "LABORGUINI", "LABORGUINI", "FERRARI", "ASTON MARTIN"],
    "KM-LITRO": [3.0, 3.0, 3.0, 3.0, 3.5],
    "CILINDROS": [12, 12, 12, 12, 10],
    "PESO(KG)": [1200, 1200, 1200, 1400, 1600],
    "CAVALOS": [700, 700, 700, 640, 620],
    "TRANSMISSAO": ["AUTOMATICO", "AUTOMATICO", "AUTOMATICO", "AUTOMATICO", "AUTOMATICO"],
    "PAIS": ["BRASIL", "EUA", "ESPANHA", "CANADA", "INGLATERRA"]
}

df = pd.DataFrame(data)

In [43]:
X = df["PESO(KG)"]
y = df["KM-LITRO"]

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_test, label=y_test)

In [46]:
params = {
    "objective": "regression",
    "metric": "rmse",
    "boosting_type": "gbdt",
    "num_leaves": 31,
    "learning_rate": 0.05
}

In [47]:
model = lgb.train(params, train_data, num_boost_round=100)

TypeError: Cannot initialize Dataset from Series

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
print("Erro quadrático médio:", mse)

NameError: name 'mean_squared_error' is not defined

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(y_test.values, label="Valor real")
plt.plot(y_pred, label="Previsão")
plt.legend()
plt.xlabel("Amostra")
plt.ylabel("KM-Litro")
plt.title("Acurácia do modelo")
plt.show()

NameError: name 'plt' is not defined