# metricas de tendencia cental

- media
- mediana
- moda
-vasriancia
-desvio padrao

In [1]:
frutas = {
    'frutas':['banana','uva','maça','kiwi','morango','abacaxi','melao','pera'], 
    'lote':[5,3,4,7,7,10,10,10],
    'valor(u)':[50.85, 10.50, 8.00, 9.99, 10.85, 100.50, 8.80, 99.99]
}
print(type(frutas))
print(frutas)
display(frutas)

<class 'dict'>
{'frutas': ['banana', 'uva', 'maça', 'kiwi', 'morango', 'abacaxi', 'melao', 'pera'], 'lote': [5, 3, 4, 7, 7, 10, 10, 10], 'valor(u)': [50.85, 10.5, 8.0, 9.99, 10.85, 100.5, 8.8, 99.99]}

{'frutas': ['banana',
  'uva',
  'maça',
  'kiwi',
  'morango',
  'abacaxi',
  'melao',
  'pera'],
 'lote': [5, 3, 4, 7, 7, 10, 10, 10],
 'valor(u)': [50.85, 10.5, 8.0, 9.99, 10.85, 100.5, 8.8, 99.99]}

In [2]:
import pandas as pd

In [3]:
# converter dicionario em dataframe
df = pd.DataFrame(frutas)

print(type(df))
display(df)

<class 'pandas.core.frame.DataFrame'>

    frutas  lote  valor(u)
0   banana     5     50.85
1      uva     3     10.50
2     maça     4      8.00
3     kiwi     7      9.99
4  morango     7     10.85
5  abacaxi    10    100.50
6    melao    10      8.80
7     pera    10     99.99

In [4]:
colunas = [ 'frutas','lote']

df_sem_valor = df[colunas]

df_sem_valor

    frutas  lote
0   banana     5
1      uva     3
2     maça     4
3     kiwi     7
4  morango     7
5  abacaxi    10
6    melao    10
7     pera    10

In [5]:
print(type(df[ 'lote']))

<class 'pandas.core.series.Series'>

In [6]:
# media
df['lote'].mean()

np.float64(7.0)

In [7]:
# mediana
df['lote'].median()

np.float64(7.0)

In [8]:
# moda
df['lote'].mode()

0    10
Name: lote, dtype: int64

In [9]:
# Variancia
df['lote'].var()

np.float64(8.0)

In [10]:
# desvio padrao
df['lote'].std()

np.float64(2.8284271247461903)

In [11]:
media = df['lote'].mean()
median = df['lote'].median()
mode = df['lote'].mode()
var = df['lote'].var()
std = df['lote'].std()

print(f'media: = {media}')
print(f'mediana: = {median}')
print(f'moda: = {mode.values}')
print(f'variância: = {var}')
print(f'desvio padrão: = {std}')

media: = 7.0
mediana: = 7.0
moda: = [10]
variância: = 8.0
desvio padrão: = 2.8284271247461903

In [12]:
df.describe()

            lote    valor(u)
count   8.000000    8.000000
mean    7.000000   37.435000
std     2.828427   41.304015
min     3.000000    8.000000
25%     4.750000    9.692500
50%     7.000000   10.675000
75%    10.000000   63.135000
max    10.000000  100.500000